<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Text To Speech</title>
    <link href="/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">
        <h1>Google Text to Speech</h1>
        <form method="post" action="/">
            <textarea name="text" cols="50" rows="10" required></textarea>
            <!-- <input type="submit" value="Convert to Mp3" /> -->
            <button type="submit">Convert Audio</button>
        </form>
    </div>
</body>

</html>