<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Tutorial Speech Recognition</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="container">
        <h1>Google Text to Speech</h1>
        <form method="POST" action="/">

            <textarea name="text" cols="50" rows="10" placeholder="Insert a text that will be converted to mp3"
                required></textarea>

            <button type="submit">Convert to Audio</button>

        </form>
    </div>

</body>

</html>